<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Home
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categories</a>
        </li>
    </ul>
</nav>