const Sequelize = require('sequelize');
const connection = new Sequelize(
    'database-name',
    'user',
    'pwd',
    {
        host: 'your-host',
        dialect: 'mysql'
    }
);

module.exports = connection;